@keyframes at_load {
	from {
		transform: translateY(300px);
	}
	to {
		transform: translateY(0px);
	}
}

@keyframes flicker_neon {
	0%, 18%, 22%, 25%, 53%, 57%, 100% {
		text-shadow: 0 0 4px #a093c7,
					0 0 12px #a093c7,
					0 0 22px #a093c7,
					0 0 34px #a093c7,
					0 0 48px #a093c7,
					0 0 70px #a093c7,
					0 0 86px #a093c7,
					0 0 120px #a093c7;
	}
	20%, 24%, 55%{
		text-shadow: none;
	}
}

button {
	background-color: #84a0c6;
	padding: 0.5rem;
	border: 0.5rem;
	color: #161821;
	border: none;
	border-radius: 1em;
	font-family: Oswald;
}


html {
	background-color: #161821;
	color: #c6c8d1;
	animation-name: at_load;
	animation-duration: 1s;
}

input {
	flex: 1;
	background-color: #161821;
	border-color: #c6c8d1;
	color: #c6c8d1;
	border-width: 0.05rem;
	border-style: solid;
	border-radius: 0.5rem;
	padding-left: 0.2rem;
}

select {
	flex: 1;
	align-content: flex-end;
	background-color: #161821;
	color: #c6c8d1;
	border-color: #c6c8d1;
	border-style: solid;
	border-width: 0.05rem;
	border-radius: 0.5rem;
	padding-left: 0.2rem;
}

fieldset {
	font-family: Oswald;
	border-color: #c6c8d1;
	border-style: solid;
	border-radius: 0.7rem;
	box-shadow: 
		0 0 1px  #1e2132,
		0 0 1px  #1e2132,
		0 0 2px  #1e2132,
		0 0 3px  #1e2132,
		0 0 5px  #1e2132,
		0 0 8px  #1e2132,
		0 0 13px #1e2132,
		0 0 21px #1e2132;
}

.box {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.semester_list_wrapper {
	display: flex;
	flex-direction: column;
	border: 2px;
	border-color: #c6c8d1;
	color: #c6c8d1;
}

.subject_list_wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.subject_wrapper {
	justify-self: auto;
	padding: 0.4rem;
}

.form_item {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 1rem;
}

.semester_wrapper {
	border-width: 20px;
}

.semester_header {
	text-align: center;
}

.button_group_wrapper {
	display: flex;
	justify-content: space-evenly;
	gap: 0.5rem;
	margin-top: 1rem;
}

.cgpa_result_wrapper {
	margin: 0.3rem;
	padding: 0.3rem;
	border-radius: 0.3rem;
	color: #a093c7;
	animation-name: flicker_neon;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

.header_wrapper {
	display: flex;
	justify-content: space-between;
	background-color: #1e2132;
	border-radius: 0.7rem;
	padding: 0.2rem;
	margin: 0.2rem;
}

.github_link {
	background-color: #1e2132;
	color: #c6c8d1;
	/* padding-right: 0.5rem; */
}

.menu_icon {
	text-align: center;
	justify-content: center;
	align-content: center;
}

.application_name {
	background-color: #e27878;
	color: #161821;
	border-radius: 0.5rem;
	text-align: center;
	padding: 0.3rem;
	font-family: "Alfa Slab One", monospace;
}
