@keyframes at_load {
	from {
		transform: translateY(300px);
	}
	to {
		transform: translateY(0px);
	}
}

button {
	background-color: #84a0c6;
	padding: 0.5rem;
	border: 0.5rem;
	color: #161821;
	border: none;
	border-radius: 1em;
	font-family: monospace;
}

html {
	background-color: #161821;
	color: #c6c8d1;
	animation-name: at_load;
	animation-duration: 1s;
}

input {
	flex: 1;
	background-color: #161821;
	border-color: #c6c8d1;
	color: #c6c8d1;
	border-width: 0.05rem;
	border-style: solid;
	border-radius: 0.5rem;
	padding-left: 0.2rem;
}

select {
	flex: 1;
	align-content: flex-end;
	background-color: #161821;
	color: #c6c8d1;
	border-color: #c6c8d1;
	border-style: solid;
	border-width: 0.05rem;
	border-radius: 0.5rem;
	padding-left: 0.2rem;
}

fieldset {
	font-family: Oswald;
	border-color: #c6c8d1;
	border-style: solid;
	border-radius: 0.7rem;
}

.box {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.semester_list_wrapper {
	display: flex;
	flex-direction: column;
	border: 2px;
	border-color: #c6c8d1;
	color: #c6c8d1;
}

.subject_list_wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.subject_wrapper {
	justify-self: auto;
	padding: 0.4rem;
}

.form_item {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 1rem;
}

.semester_wrapper {
	border-width: 20px;
}

.semester_header {
	text-align: center;
}

.button_group_wrapper {
	display: flex;
	justify-content: space-evenly;
	gap: 0.5rem;
	margin-top: 1rem;
}

.cgpa_result_wrapper {
	margin: 0.3rem;
	padding: 0.3rem;
	border-radius: 0.3rem;
	color: #161821;
	background-color: #e27878;
}

.header_wrapper {
	display: flex;
	justify-content: space-between;
	background-color: #1e2132;
	border-radius: 0.7rem;
	padding: 0.2rem;
	margin: 0.2rem;
}

.github_link {
	background-color: #1e2132;
	color: #c6c8d1;
	/* padding-right: 0.5rem; */
}

.menu_icon {
	text-align: center;
	justify-content: center;
	align-content: center;
}

.application_name {
	background-color: #e27878;
	color: #161821;
	border-radius: 0.5rem;
	text-align: center;
	padding: 0.3rem;
	font-family: "Alfa Slab One", monospace;
}
