package templates

import "fmt"
import "github.com/bakageddy/gpa/types"

templ GPA(score types.GPA) {
	<div class="gpa_result_wrapper">
		<div>Your GPA for the Semester is { fmt.Sprintf("%.3f", score.Score) }</div>
		<div>Your Total Subject Credits is { fmt.Sprintf("%d", score.TotalSubjectCredits) }</div>
		<div>Your Total Credits is { fmt.Sprintf("%d", score.TotalCredits) }</div>
	</div>
}
