package templates

import "strconv"

templ Semester(id int) {
	<h1>Semester { strconv.Itoa(id) }</h1>
	<div class="semester" id={ strconv.Itoa(id) }>
		<form name="semester_gpa" hx-post="/calculate_gpa" hx-swap="innerHTML" hx-target=".gpa_result">
			<button hx-get="/add-sub" hx-swap="beforeend" hx-target="next div.subjectlist">Add Subject</button>
			<div class="subjectlist"></div>
			<input type="submit"/>
		</form>
	</div>
	<div class="gpa_result">
	</div>
}
